{{>layouts/header}}
<body>
    <form action="addUserBE" method="post">
        <input type="text" name="userName" id="">
        <input type="date" name="inDate" id="">
        <input type="date" name="outDate" id="">
        <input type="text" name="rank" id="">
        <input type="submit" value="submit">
    </form>
</body>
{{>layouts/footer}}