{{>layouts/header}}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>시퀀스</th>
            </tr>
        </thead>

        <tbody>
            {{#all_user}}
            <tr>
                <td>
                    <a href="/userRemainDay/{{seq}}">{{userName}}</a>
                </td>
                <td>
                    {{seq}}
                </td>
            </tr>
            {{/all_user}}
        </tbody>
    </table>
</body>
{{>layouts/footer}}